<ion-header>
  <ion-toolbar>
    <ion-title>Agendar horário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Cliente</ion-label>
    <ion-input [(ngModel)]="newEvent.title" name="titulo" type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Data do Evento</ion-label>
    <ion-datetime display-format="DD/MM/YYYY HH:mm" [(ngModel)]="newEvent.date" name="data" required></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descrição</ion-label>
    <ion-textarea [(ngModel)]="newEvent.description" name="descricao" rows="4" required></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="cadastrarEvento()">Cadastrar</ion-button>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/calendar']">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Calendário</ion-label>
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/new-event']">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>Atendimento</ion-label>
  </ion-tab-button>
</ion-tab-bar>