<ion-content>
  <div class="ion-padding login-container">
    <h2>Login</h2>
    <form>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" id="username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" id="password" name="password"></ion-input>
      </ion-item>

      <ion-button expand="full" class="rounded-button" (click)="login()">Login</ion-button>
    </form>
  </div>


  <ion-button routerLink="/new-user">Cadastre-se</ion-button>

  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-content>