<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="false" style="top: 15px;">
  <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/calendar']">
    <ion-icon name="calendar" class="tab-item"></ion-icon>
    <ion-label class="tab-item">Calendário</ion-label>
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/new-event']">
    <ion-icon name="add-outline" class="tab-item"></ion-icon>
    <ion-label class="tab-item">Atendimento</ion-label>
  </ion-tab-button>
</ion-tab-bar>