
ion-title {
    max-width: 300px;
    margin: 0 auto;
    text-align: center; 
  }
  
  full-calendar {
    --fc-today-bg-color: #f2eafd;
    --fc-button-bg-color: #8172e3;
    --fc-button-hover-bg-color: #5955ad;
    --fc-event-bg-color: #5955ad;
    --fc-event-border-color: #5955ad;
  }
