<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>calendar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll="false" style="top: 5px;">
  <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/calendar']">
    <ion-icon name="calendar"></ion-icon>
    <ion-label>Calendário</ion-label>
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/new-event']">
    <ion-icon name="add-outline"></ion-icon>
    <ion-label>Atendimento</ion-label>
  </ion-tab-button>
</ion-tab-bar>